<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="stride-local" value="D:\Modulus-Game-Engine\bin\packages" />
    <add key="modulus-sdk" value="D:\Modulus-Game-Engine\sources\tools\Modulus.Mod.Sdk\bin\Release" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <packageSource key="stride-local">
      <package pattern="Stride" />
      <package pattern="Stride.*" />
      <package pattern="Modulus.Engine" />
      <package pattern="Modulus.Modding.Api" />
    </packageSource>
    <packageSource key="modulus-sdk">
      <package pattern="Modulus.Mod.Sdk" />
    </packageSource>
  </packageSourceMapping>
</configuration>
